  body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      display: flex;
      flex-direction: column;
      text-align: center;

    }

    header {
      background: #fff;
      color: #000;
      padding: 8px 20px;
      font-size: 12px;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }

    .header-title {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      color: #000;
    }

    .main-nav {
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      flex-wrap: wrap;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .logo label {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }

    .nav-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .nav-links ul li {
      margin: 0 15px;
    }

    .nav-links ul li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
    }

    .nav-links ul li a:hover {
      color: #f0c14b;
    }

    .login-button {
      padding: 10px 25px;
      border-radius: 20px;
      background: #f0c14b;
      border: 1px solid #a88734;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

    .locations-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    .location-card {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      width: 270px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: box-shadow 0.2s;
    }
    .location-card:hover {
      box-shadow: 0 4px 16px rgba(0,0,0,0.18);
    }
    .location-photo {
      width: 220px;
      height: 140px;
      object-fit: cover;
      border-radius: 7px;
      margin-bottom: 15px;
      background: #eee;
    }
    h1 {
      margin-bottom: 40px;
    }
    .location-info {
      margin-bottom: 10px;
    }
     footer {
      text-align: center;
      padding: 1rem;
      background: #333;
      color: #fff;
      margin-top: auto;
    }